<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468953482168-p954i2amnp8go7cselp9cp6tgi0k4l7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468953482168-p954i2amnp8go7cselp9cp6tgi0k4l7d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>468953482168-ui3rrbu1tkati3mgrpaqid7qjppslbt9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAreDldZeBAP9bkbfUu3GGTWQobV0-h324</string>
	<key>GCM_SENDER_ID</key>
	<string>468953482168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pulsoApp</string>
	<key>PROJECT_ID</key>
	<string>pulso-ecg</string>
	<key>STORAGE_BUCKET</key>
	<string>pulso-ecg.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468953482168:ios:324144e09ce52bf131854d</string>
</dict>
</plist>